__pycache__
__pycache__/*
.idea
.idea/*
.ipynb_checkpoints
.ipynb_checkpoints/*

*/model

model_gpu.pkl
model_cpu.pkl
model_direct_cpu.pth
model_direct_pth_gpu.pth
model_gpu

try model
try model/*

model
model_cpu
model_cpu_len_gt_2
model_cpu_no_len
model_ngram_len_2
model_ngram_no_len
model_corr_ngram_no_len
model_corr_ngram_len_2
model_merged_ngram_len_2
model_merged_ngram_no_len

